@charset "UTF-8";
* {
	margin:0;
	padding:0;
	box-sizing:border-box;
}

body {
	height: 100vh;
	width: 100vw;
	background-image: url('../head/background.png');
	background-color:black;
	background-repeat: repeat-y;
	background-size: cover;
	
}

.banner {
	width:132px;
	height:100px;
	margin: 20px auto 40px auto;
	/* font-family: 'Josefin Slab', serif; */
	font-family: 'Poiret One', cursive;
	color:#D7D6D2;
	font-size: 24px;
	text-align: left;
}



.slide {
	max-width:1000px;
	margin:0 auto;
}

.carousel-inner {
	width:auto;
	height:80%;
	margin: auto;
}

.carousel-item {
	max-width:1000px;
	width:auto;
	height:100%
}

div#bread {
	font-family: 'Poiret One', cursive;
}

.breadcrumb {
	margin-top:10px;
	font-family: 'Poiret One', cursive;
}

a {
    color: #e9ecef;
    transition: all 0.2s;
}

.breadcrumb-item.active {
    color: #494e53;
}
