@charset "UTF-8";
body {
	color:#f2f2f2;
	font-family: 'Noto Sans KR', sans-serif;
	height: 100vh;
	width: 100vw;
	background-image: url('../head/backdark.png');
	background-color:black;
	background-repeat: repeat-y;
	background-size: cover;
}


.list {
	width:200px;
	margin:40px 50% 20px 50%;
}

.shoplist{
	margin-left:40px;
}

table{
	width:1000px;	
	margin:40px auto 20px auto;
	text-align:center;
}


